body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

.logout {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.logout:hover {
    background-color: #c9302c;
}

/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Fundo com Gradiente */
body {
    background: linear-gradient(135deg, #cba788, #dfb896);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container do Login */
.login-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

/* Título */
.login-container h2 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Labels */
label {
    display: block;
    color: #0c0c0c;
    text-align: left;
    font-weight: bold;
    margin: 10px 0 5px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    border: .1px solid black;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
}

/* Estilização de Campos de Entrada */
input:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

/* Botão de Login */
button {
    width: 100%;
    background: #156402;
    border: none;
    padding: 12px;
    margin-top: 15px;
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    margin-bottom: 1.5rem;
}

/* Hover no Botão */
button:hover {
    background: #0a3000;
    transform: translateY(-2px);
}

/* Responsividade */
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        width: 90%;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.edit {
    background-color: #3498db;
}

.delete {
    background-color: #e74c3c;
}

.cancel {
    background-color: gray;
}
